<div id="footer">
    <div class="return-top"><a href="#top"><i></i></a></div>
    <div class="qr-code">
        <p><img src="__IMG__/index/qrcode.gif"></p>
        <span class="text">扫描微信号，随时关注我们</span>
    </div>
    <div class="links">
        <a href="#">服务介绍</a>
        <a href="#">常见问题</a>
        <a href="#">服务条款</a>
        <a href="#">隐私权政策</a>
        <a href="#">关于我们</a>
        <a href="#">客服中心</a>
        <a href="#">官方微博</a>
        <a href="#">联系方式</a>
    </div>
    <div class="copyright">
        &copy; 2014 <a href="http://www.lifecreatech.com">yetang.com</a>, all rights reserved  <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证140461号</a> <a href="#">隐私声明</a>
    </div>
</div>
<!-- build:js ./scripts/vendor.js -->
<script src="__JS__/lib/jquery-1.11.2.min.js"></script>
<script src="__JS__/lib/jquery.easing.1.3.js"></script>
<script src="__JS__/header.js"></script>
<!-- endbuild -->