<div id="topbar">
    <div class="wrapper">
        <div class="contact-tel"><span class="icon icon-tel"><i></i>010-58880628</span></div>
        <div class="contact-mail"><a href="mailto:mail@lifecreatech.com"><span class="icon icon-mail"><i></i>mail@lifecreatech.com</span></a></div>
        <div class="topbar-nav">
            <ul>
                <if condition="is_login()">
                    <li class="logout">Hi<a href="/ucenter/index.html" class="user-center-link">微微微微微微蓝</a><a href="#" class="logout-link">退出</a></li>
                    <li class="share">
                        <a href="javascript:;" class="title"><span class="icon icon-arrow"><i></i>分享</span></a>
                        <div class="share-list">
                            <ul>
                                <li><a href="#"><span class="icon icon-wb"><i></i><span class="hide">微博</span></span></a></li>
                                <li><a href="#"><span class="icon icon-tt"><i></i><span class="hide">腾讯微博</span></span></a></li>
                                <li><a href="#"><span class="icon icon-qq"><i></i><span class="hide">QQ</span></span></a></li>
                                <li><a href="#"><span class="icon icon-wx"><i></i><span class="hide">微信</span></span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="cart">
                        <a href="#" class="title">
                            <span class="cart-number">
                                <span class="cart-number-c">8</span>
                                <span class="cart-number-l"></span>
                                <span class="cart-number-r"></span>
                            </span>
                            购物车
                        </a>
                    </li>
                <else/>
                    <li class="login"><a href="#" class="title">登陆</a></li>
                    <li class="reg"><a href="#" class="title">注册</a></li>
                </if>
            </ul>
        </div>
    </div>
</div>
<div id="header">
    <div class="wrapper">
        <div class="logo">
            <h1><a href="/index.html"><strong>lifecreatech 无创意 不生活</strong></a></h1>
        </div>
        <div class="nav">
            <a href="/index.html">HOME</a>
            <a href="#" class="current">商城</a>
            <a href="#">提交创意</a>
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="查询输入">
                <button type="submit"><span class="icon icon-search"><i></i></span></button>
            </form>
        </div>
    </div>
</div>