<extend name="Base/common" />
<block name="body">
<div class="article">
    <div class="wrapper">
        <div class="layout-two">
            <div class="layout-two-bg">
                <div class="layout-two-sidebar">
                    <div class="ucenter-menu">
                        <h2>个人中心</h2>
                        <div class="ucenter-menu-list">
                            <ul>
                                <li><a href="myideas.html"><span class="icon icon-ideas"><i></i>我的创意</span></a></li>
                                <li><a href="myorder.html"><span class="icon icon-order"><i></i>我的订单</span></a></li>
                                <li><a href="score.html"><span class="icon icon-score"><i></i>积分优惠</span></a></li>
                                <li><a href="sales_return.html"><span class="icon icon-sales-return"><i></i>退换货管理</span></a></li>
                                <li><a href="show.html"><span class="icon icon-show"><i></i>评价晒单</span></a></li>
                                <li><a href="message.html"><span class="icon icon-message"><i></i>消息中心</span></a></li>
                                <li><a href="setting.html"><span class="icon icon-setting"><i></i>账户设置</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layout-two-main">
                    <div class="ucenter-index-info">
                        <div class="ucenter-userhead">
                            <img src="../images/ucenter/nouserhead.jpg" width="114" height="114">
                            <a href="#">修改头像</a>
                        </div>
                        <div class="userinfo-detail">
                            <h3><strong>微微微微微微蓝</strong> 下午好~</h3>
                            <div class="userinfo-ranking">您现在是<strong>金卡会员</strong>，再消费<strong>500</strong>元即可升级翡翠会员。已有会员88246人，您现在排第23587名。</div>
                            <div class="userinfo-grade">
								<div class="line">
                                    <i style="left:30%;"></i>
									<div class="line-yellow" style="width:30%;"><!--总长度448px--></div>
								</div>
                                <ol>
                                    <li>新会员</li>
                                    <li>银卡会员</li>
                                    <li>金卡会员</li>
                                    <li>白金会员</li>
                                    <li>钻石会员</li>
                                    <li>玛瑙会员</li>
                                </ol>
                            </div>
                        </div>
						<div class="userinfo-signin">
							<a href="#"><i></i>每日签到+1</a>
						</div>
                    </div>
                    <div class="table">
                        <div class="table-title">我的订单</div>
                        <div class="table-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="w1">订单编号</th>
                                        <th class="w2">商品信息</th>
                                        <th class="w3">订单金额</th>
                                        <th class="w4">
                                            <select>
                                                <option>最近三个月</option>
                                                <option>最近一年</option>
                                            </select>
                                        </th>
                                        <th class="w5">
                                            <select>
                                                <option>全部状态</option>
                                                <option>已经支付</option>
                                            </select>
                                        </th>
                                        <th class="w6">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">88967865868</td>
                                        <td class="w2">
                                            <img src="../images/ucenter/1.jpg" width="78" height="78">
                                            <img src="../images/ucenter/2.jpg" width="78" height="78">
                                            <img src="../images/ucenter/3.jpg" width="78" height="78">
                                            <img src="../images/ucenter/2.jpg" width="78" height="78">
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line f-16">￥690.00元</span>
                                            <span class="single-line c-999">(免运费)</span>
                                            <span class="single-line c-999">支付宝支付</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">2015-01-05</span>
                                            <span class="single-line">21:45:32</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">待处理</span>
                                            <span class="single-line c-f52648">等待付款</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line"><a href="#" class="pay-link">立即支付</a></span>
                                            <span class="single-line"><a href="#">查看</a></span>
                                            <span class="single-line"><a href="#">取消订单</a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">88967865868</td>
                                        <td class="w2">
                                            <img src="../images/ucenter/1.jpg" width="78" height="78">
                                            <img src="../images/ucenter/2.jpg" width="78" height="78">
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line f-16">￥690.00元</span>
                                            <span class="single-line c-999">(免运费)</span>
                                            <span class="single-line c-999">支付宝支付</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">2015-01-05</span>
                                            <span class="single-line">21:45:32</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">已完成</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line"><a href="#">查看</a></span>
                                            <span class="single-line"><a href="#">再次购买</a></span>
                                            <span class="single-line"><a href="#">申请退换货</a></span>
                                            <span class="single-line"><a href="#">评论</a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">88967865868</td>
                                        <td class="w2">
                                            <img src="../images/ucenter/1.jpg" width="78" height="78">
                                            <img src="../images/ucenter/2.jpg" width="78" height="78">
                                            <img src="../images/ucenter/3.jpg" width="78" height="78">
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line f-16">￥690.00元</span>
                                            <span class="single-line c-999">(免运费)</span>
                                            <span class="single-line c-999">支付宝支付</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">2015-01-05</span>
                                            <span class="single-line">21:45:32</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">已发货</span>
                                            <span class="single-line"><a href="#">查看物流</a></span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line"><a href="#">查看</a></span>
                                            <span class="single-line"><a href="#">再次购买</a></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">88967865868</td>
                                        <td class="w2">
                                            <img src="../images/ucenter/1.jpg" width="78" height="78">
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line f-16">￥690.00元</span>
                                            <span class="single-line c-999">(免运费)</span>
                                            <span class="single-line c-999">支付宝支付</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">2015-01-05</span>
                                            <span class="single-line">21:45:32</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line">已完成</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="single-line"><a href="#">查看</a></span>
                                            <span class="single-line"><a href="#">再次购买</a></span>
                                            <span class="single-line"><a href="#">申请退换货</a></span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"><a href="#">查看全部</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>